@use "app/utils";

.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}

.bottom {
  margin-top: 100px;
}

.red,
.white {
  text-align: right;
}

.red {
  color: utils.$colors-red;
}

.white {
  color: white;
}

.value {
  font-size: 108px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
}

.title {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: -14px;
}

@media (max-width: utils.$mobile-width) {
  .root {
    min-height: 430px;
  }
  .value {
    font-size: 64px;
  }
  .red,
  .white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
  .title {
    font-size: 20px;
  }
  .bottom {
    margin-top: 80px;
  }
}

