@use "app/globals";

.root {
  position: relative;
  overflow: hidden;
}

.maxValue {
  opacity: 0;
}

.digits {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  right: 0;
  transition: transform 2000ms cubic-bezier(0.67, 0.02, 0.79, 0.99);
}
