@use "app/utils";

$h-padding: 40px;
$v-padding: 32px;
$padding: 32px 40px;
$border-radius: 22px;
$border: 2px solid utils.$colors-black;

.root {
}

.body {
  border: $border;
  padding: $v-padding $h-padding;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  width: 600px;
  gap: 40px;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tabs {
  display: flex;
  margin-bottom: -2px;
}

.tab {
  padding: 16px $h-padding 8px;
  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 200px;
  font-size: 28px;
  font-style: normal;

  &.isActive {
    border: $border;
    border-bottom: none;
    background: white;
    font-weight: 600;
  }

  &:not(.isActive) {
    cursor: pointer;
  }
}

.donateButton {
  border-radius: 22px;
  border: 2px solid utils.$colors-black;
  background: transparent;
  padding: 12px 16px;
  font-size: 24px;
  font-weight: 300;

  &.isActive {
    background: utils.$colors-red;
    color: white;
    border-color: utils.$colors-red;
  }
}

.description {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (max-width: utils.$mobile-width) {
  .body {
    flex-direction: column;
    align-items: stretch;
    width: unset;
    padding: 24px;
    grid-template-columns: 1fr;
  }
  .tab {
    min-width: unset;
    padding-left: 24px;
    padding-right: 24px;
  }
}
