@use "app/utils";

.root {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: utils.$header-font;
  font-size: 82px;
  margin: 54px 0;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: 0.5px;

  &.small {
    font-size: 80px;
  }

  @include utils.fix-text-margins();
}


@media (max-width: utils.$mobile-width) {
  .root {
    font-size: 48px;
    &.small {
      font-size: 48px;
    }
  }
}
