@import "assets/metropolis/stylesheet.css";
@import "assets/polite-type/stylesheet.css";

html, body {
  font-family: Metropolis, Proxima Nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: -0.2px;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }

  :disabled {
    opacity: 0.5;
  }
}
