@use "app/utils";
@import "reset.scss";
@import "assets/metropolis/stylesheet.css";
@import "assets/polite-type/stylesheet.css";

html,
body {
  font-family: Metropolis, Proxima Nova, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 125%;
  letter-spacing: -0.2px;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }

  :disabled {
    opacity: 0.5;
  }
}

b {
  font-weight: 700;
  letter-spacing: 0.01em;
}

i {
  font-style: italic;
}

svg {
  path[id^="draw\/"],
  g[id^="draw\/"] path,
  path[id^="draw\:reverse\/"],
  g[id^="draw\:reverse\/"] path {
    stroke-dashoffset: 0;
    transition-property: stroke-dashoffset;
    //transition-timing-function: linear;
    transition-timing-function: ease-in-out;
  }
}
