@use "app/utils";

.root {
  overflow: hidden;
  padding-bottom: 40px;
}

.content {
  box-sizing: border-box;
  padding: 24px 64px;
  margin: 0 auto;
  max-width: 1280px;
  z-index: 1;
}

.black,
.white {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.black {
  background: utils.$colors-black;
  color: white;
  overflow: hidden;
}

.white {
  background: white;
  color: utils.$colors-black;
  position: relative;
}

.dishAndGradient {
  position: absolute;
  top: -528px;
  background: utils.$colors-black;
  left: 50%;
  transform: translateX(-50%);
  height: 1250px;
  width: 100%;
  overflow: hidden;

  .dish {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(220px);
    width: 414px;
    height: 269px;
  }

  .bgGradient {
    position: absolute;
    top: 162px;
    left: 50%;
    transform: translateX(-50%) translateX(464px);
    max-width: unset;
    width: 5003px;
    height: 1117px;
  }
}

.illustration {
  &.gloria {
    width: 578px;
  }

  &.illustration4 {
    margin-left: -145px;
    margin-top: -105px;
    width: 506px;
  }

  &.illustration6 {
    width: 1137px;
  }

  &.illustration7 {
    margin-left: -150px;
    margin-top: -50px;
    width: 168px;
    height: 195px;
  }
}

@media (max-width: utils.$mobile-width) {
  .illustration {
    //max-width: 100%;
    //height: auto;
    //min-width: 375px;
    //position: relative;
    //left: calc(50vw - #{utils.$mobile-global-padding});
    //transform: translateX(-50%);
    //width: 100vw !important;
    width: calc(100vw - #{utils.$mobile-global-padding * 2}) !important;

    height: auto;
    //min-width: 375px;
    //position: relative;
    //left: 50%;
    //transform: translateX(-50%);

    &.gloria {
    }

    &.illustration2 {
      width: calc(100vw - #{utils.$mobile-global-padding}) !important;
      margin-left: -#{utils.$mobile-global-padding};
    }

    &.illustration3 {
      width: calc(100vw - #{utils.$mobile-global-padding}) !important;
      margin-left: -#{utils.$mobile-global-padding};
    }

    &.illustration5 {
    }

    &.illustration6 {
    }

    &.illustration8 {
      width: 100vw !important;
      margin-left: -#{utils.$mobile-global-padding};
    }

    &.illustration9 {
    }

    &.illustration10 {
    }

    &.illustration11 {
    }

    &.illustration12 {
    }

    &.illustration4,
    &.illustration7 {
      margin: 0;
    }
  }

  .content {
    padding: 16px;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dishAndGradient {
    top: -300px;

    .bgGradient {
      top: 67px;
      transform: translateX(-50%) translateX(64px);
      height: 1280px;
    }
    .dish {
      transform: translateX(-170px);
      width: calc(100vw - #{utils.$mobile-global-padding * 2});
    }
  }
  .white {
    margin-top: 280px;
  }
}
