@mixin fix-text-margins {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

$header-font: PoliteType, "Helvetica Neue", Helvetica, Arial, sans-serif;

$colors-black: #1E1E1E;
$colors-red: #D35357;
$colors-red-2: #DC7579;

$animation-duration: 300ms;

$mobile-width: 1280px;
