@use "app/utils";

.root {
  pointer-events: none;
}

.image {
  position: absolute;
  top: -60px;
  right: -50px;
  width: 727px;
  height: 727px;
}

@media (max-width: utils.$mobile-width) {
  .root {
    display: none;
  }
}
