@use "app/utils";

.root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  padding-left: 60px;
  padding-top: 123px;
  padding-bottom: 120px;
}

.logo {
  position: absolute;
  top: 0;
  left: -100px;
  width: 332px;
}

.header {
  display: flex;
  align-items: center;
  color: utils.$colors-red;
  padding-left: 140px;
}

.body {
  display: flex;
  gap: 40px;
}


@media (max-width: utils.$mobile-width) {
  .header {
    padding-left: 0;
  }
  .body {
    flex-direction: column-reverse;
  }
  .root {
    padding: 0;
  }
  .logo {
    display: none;
  }
}

